<ion-view view-title="Location" id="background" hide-back-button="true">
    <ion-header-bar class='bar-stable'>
        <p class="title">CONTACTS
            <button class="button button-icon ion-android-more-vertical pull-right" style="margin-top: 5px;" ng-click="menu.popover.show($event)"></button>
            <button class="button button-icon ion-ios-search-strong pull-right white" style="margin-top: 5px;" ng-click="contacts.searchOpen()"></button>
            <input type="text" ng-class="contacts.isSearchOpen ? 'search-box-open' : 'search - box - close'">
        </p>
    </ion-header-bar>
    <ion-content scroll="true" class="has-footer">
        <div class="spin" ng-show="contacts.lodingSpinner"><ion-spinner icon="spiral" class="spinner-positive"></ion-spinner></div>
        <ion-list >
            <ion-item ng-hide="contacts.displaycontacts.length > 0" class="noItem" >
                <div class="empty" >
                    <div class='nothing' ng-hide="contacts.lodingSpinner">'No users found!'</div>
                </div>
            </ion-item>
        </ion-list>
        <div class="list" id="chats">
            <div class="user-container" ng-repeat="contact in contacts.displaycontacts">
                <a class="item item-avatar hover item-icon-right" ng-click="contacts.openUserProfile(contact, $index)">
                    <img class="avatar" ng-src="{{contact.pic}}">
                    <i class="fa fa-circle user-status {{contact.status == 'online' && 'online'|| '' }}{{contact.status == 'away' && 'away'|| '' }}{{contact.status == 'offline' && 'offline'|| '' }}"></i>
                    <h2  class="ChatUserName">{{contact.name}} <span class="fa fa-spin fa-spinner" ng-show="contacts.spinnerIndex == $index"></span></h2>
                    <p>{{contact.geo_city}}<span class="lastSeen" ng-if="contact.geo_state != ''">, </span>{{contact.geo_state}}</p>
                    <p class='TimeDistanceText' ng-if="contact.lastSeen != 'Invalid date'">{{contact.lastSeen}}<br/>{{contact.distance_from_logged_user}}<span ng-if='contact.distance_from_logged_user'>s from you</span></p>
                    <p class="lastSeen" ng-if="contact.geo_state == '' && contact.geo_city == ''">&nbsp</p>
                    <p> </p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="contactUser.html" type="text/ng-template">
   <div class="modal">
        <header class="bar bar-header bar-positive">
          <h1 class="title GreyColor">{{contacts.displayUserProfileName}}</h1>
          <div class="button btn-xs button-clear" ng-click="modal.hide()"><span class="icon ion-close GreyColor"></span></div>
        </header>
          <ion-content class="has-header has-footer" padding="true">
                <img id="profileImage" ng-src="{{contacts.displayUserProfileImage}}"  class="img-circle profile-pic" >
       <ul class="list" id='profile' ng-hide="contacts.lodingSpinner">

            <li class="item item-toggle">
                NAME
                <label class="toggle toggle-assertive profileOption">
      {{contacts.displayUserProfileName}}
     </label>
            </li>
            <li class="item item-toggle">
                PRIVATE ROOMS
                <label class="toggle toggle-assertive profileOption">
       {{contacts.displayUserProfilePrivateRooms}}
     </label>
            </li>
            <li class="item item-toggle">
                PUBLIC ROOMS
                <label class="toggle toggle-assertive profileOption">
      {{contacts.displayUserProfilePublicRooms}}
     </label>
            </li>
            <li class="item item-toggle" ng-if="contacts.displayUserProfileGender">
                GENDER
                <label class="toggle toggle-assertive profileOption">
      {{contacts.displayUserProfileGender}}
     </label>
            </li>
            
            <li class="item item-toggle" ng-if="contacts.displayUserProfileDOB">
                DOB
                <label class="toggle toggle-assertive profileOption">
      {{contacts.displayUserProfileDOB}}
     </label>
            </li>
            <li class="item item-toggle" style="white-space: normal;" ng-click="profile.status(profile.displayprofile.profile_status, 'Hey ! I am using ChatApp')">
                STATUS 

                <br/>
                <span class="status_edit"  ng-if="contacts.displayUserProfileStatus">{{contacts.displayUserProfileStatus}}</span>
                <span class="status_edit" ng-if="!contacts.displayUserProfileStatus">Hey ! I am using ChatApp</span>

            </li>

        </ul>
    </ion-content>
        <ion-footer-bar align-title="left" class="bar-footer no-pad" id="BlueBar">
              <button class="buttons act font14" style="width: 100%; display: block;"  ng-click="contacts.chatWithUser(contacts.displayUserProfileName, contacts.displayUserProfileId, contacts.displayUserProfileImage, contacts.displayUserProfileLastSeen)">
    START CHAT <span class="fa fa-spin fa-spinner" ng-show="contacts.startChatspinner"></span>
   
  </button>
    </div>
                         
</script>