<ion-popover-view  on-tap="chatPageHeader.hidePop()"> 
    <div class="list" ng-click="chatPageHeader.hidePop()">
        <a class="item" ng-click="chatPageHeader.attachImage();
            openAttachFilePopover.hide()">
            Camera
        </a>
        <!-- ngf-resize="{quality: .1, ratio: '1:2'}" -->
        <a ngf-select ng-model="chatPageHeader.picFile" accept="image/*" ngf-change="chatPageHeader.attachImage($files); openAttachFilePopover.hide()" class="item"  
           >
            Gallery
        </a>
        <a class="item" ng-show="chatPageHeader.shareLocation" ng-click="chatPageHeader.sendLocation();
            openAttachFilePopover.hide()">
            Location
        </a>
    </div>

</ion-popover-view>