<ion-popover-view>
    <div class="list">
        <a class="item" ng-click="chatPageHeader.setBackground();
            popover.hide()">
            <span ng-if="chatPageHeader.pageBackground == ''">Set</span><span ng-if="chatPageHeader.pageBackground.length > 0">Update</span> Background
        </a>
        <a class="item" ng-click="chatPageHeader.removeBackground();
            popover.hide()" ng-if="chatPageHeader.pageBackground.length > 0">
            Remove Background
        </a>
        <a class="item" ng-click="chatPageHeader.leavePrivateChat();
            popover.hide()">
            Leave Chat
        </a>
        <a class="item" ng-click="chatPageHeader.blockPrivateUser();
            popover.hide()">
            Block User
        </a>
    </div>
</ion-popover-view>