<ion-view view-title="FORGOT PASSWORD">
   <ion-content scroll="false" id="background">
      <div class="center-block w-xxl w-auto-xs p-v-md">
         <div class="navbar">
            <div class="navbar-brand text-center">
               <span class="inline white">CHATT</span>
            </div>
         </div>
         <div class="p-lg panel md-whiteframe-z1 text-color m">
            <div class="m-b text-sm">
               Forgot Password
            </div>
            <form name="form">
               <div class="md-form-group float-label">
                  <input type="email" class="md-input" ng-model="forgotPassword.data.email" required>
                  <label>Email</label>
               </div>
               <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md" ng-click="forgotPassword.forgotPassword()"><span ng-show="forgotPassword.forgotSpinner"><i class="fa fa-spin fa-spinner"></i></span> Submit</button>
            </form>
         </div>
      </div>
      </div>
   </ion-content>
</ion-view>