<ion-view view-title="Chats" id="background" hide-back-button="true" >
    <ion-content class="has-footer" scroll='true'>
        <ion-list >
            <ion-item ng-hide="chats.displayChats.length > 0" class="noItem" >
                <div class="empty" >
                    <div class='nothing'>'No Chats Yet!'</div>
                </div>
            </ion-item>
        </ion-list> 
        <div class="list" id="chats">
            <div class="user-container" ng-repeat="chat in chats.displayChats | orderBy: '-unreadMessageTimeStamp'" ng-class="{NoBorderTop:$first}">
                <a class="item item-avatar hover" ng-click="chats.roomClick(chat)">
                    <img class="avatar" ng-src="{{chat.user_data.profile_image}}">
                    <i class="fa fa-circle user-status {{chat.user_data.status == 'online' && 'online' || '' }}{{chat.user_data.status == 'away' && 'away' || '' }}{{chat.user_data.status == 'offline' && 'offline' || '' }}" ng-if="chat.room_type != 'public'"></i>
                    <h2 class="ChatUserName" ng-class="{'BlueFont': chat.unreadMessage > 0}">{{chat.user_data.name}}</h2>
                    <span class="badge blue-badge" ng-if="chat.unreadMessage > 0">{{chat.unreadMessage}}</span>
                    <p  ng-show="chat.user_data.geo_city != undefined || chat.user_data.geo_state !=undefined">{{chat.user_data.geo_city}}<span class="lastSeen" ng-if="chat.user_data.geo_state != ''">, </span>{{chat.user_data.geo_state}}</p>
                    <p class='' ng-class="{'TimeDistanceText': chat.room_type == 'private'}">{{chat.user_data.last_seen}} <br/>{{chat.user_data.distance}}<span ng-if='chat.user_data.distance'>s from you</span></p>
                    <p ></p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>