<div class="tabs tabs-icon-top" id="background">
    <a class="tab-item active" href="#/app/chats">
        <i class="icon ion-chatbubble tabs-icon-color"></i> Chats
    </a>
    <a class="tab-item" href="#/app/publicChats">
        <i class="icon ion-person-stalker tabs-icon-color"></i> Groups
    </a>
    <a class="tab-item"  ng-click="search()">
        <i class="icon ion-person tabs-icon-color"></i> Search
    </a>
    <a class="tab-item" href="#/app/setting">
        <i class="icon ion-android-settings tabs-icon-color"></i> Settings
    </a>
</div>