<ion-modal-view class="mymodal">
    <div class="loadingModal" ng-click="stopLoading()" ng-if="startLoading">
        <ion-spinner class="icnModal" icon="android"></ion-spinner>
    </div>
    <div class="cropArea">
        <img-crop image="myimage" result-image="myCroppedImage" on-change="result(myCroppedImage)"></img-crop>
    </div>
    <div class="cancelbt" ng-click="imgCancel()">
        <span class="mysize ion-close-round"></span>
    </div>
    <div class="primage">Profile Pic</div>
    <div class="prpicim"><img id="croperim" src="{{myCroppedImage}}" /></div>
    <ion-footer-bar align-title="left" class="bar-footer no-pad bar" id="BlueBar">
        <button class="buttons act font14" style="width: 100%; display: block; border: none;" ng-click="imgChange()" ng-disabled="startLoading" >UPLOAD</button>
    </ion-footer-bar>
</ion-modal-view>