<ion-popover-view class="profile_popover">

    <div class="list" ng-click="profile.hidepop()">
        <!-- <a class="item item-icon-right" ng-click="backGround();" >
            Set Background
        </a> -->
        <a class="item item-icon-right" ng-click="profile.publishFB();" >
            Share to Facebook
        </a>
        <a class="item item-icon-right" ng-click="logout();" >
            Logout
        </a>
        <!-- <a class="item item-icon-right">
            ChatApp-V {{version}}
        </a> -->
    </div>
</ion-popover-view>