<ion-view view-title="Profile" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-more-vertical pull-right white GreyColor" ng-click="profile.openPopover($event)"></button>
    </ion-nav-buttons>
    <div class="spin" ng-show="profile.lodingSpinner">
        <ion-spinner icon="spiral" class="spinner-positive"></ion-spinner>
    </div>
    <ion-content id="profile" class="has-header has-footer" ng-click="stopLoading()">
            <div class="loadingModal" ng-click="stopLoading()" ng-if="startLoading">
                <ion-spinner class="icnModal" icon="android"></ion-spinner>
            </div>
            <div  ng-hide="profile.lodingSpinner" ng-click="profile.editProfilePic()" style="background-image: url({{profile.displayprofile.profile_image}}); background-size:cover;-webkit-filter: blur(2px);-moz-filter: blur(6px);-o-filter: blur(6px);-ms-filter: blur(6px);filter: blur(6px);width:100%;height:200px;">
        </div>
         <img ng-hide="profile.lodingSpinner" id="profileImage" src="{{profile.displayprofile.profile_image}}" class="img-circle Myprofile-pic" ng-if="profile.displayprofile.profile_image" ng-click="profile.editProfilePic()">

        <img ng-hide="profile.lodingSpinner" id="profileImage" src="img/user.png" class="img-circle profile-pic" ng-if="!profile.displayprofile.profile_image" ng-click="profile.editProfilePic()">
        <div class="profileName">
 {{profile.displayprofile.name}}
  
</div>

        <ul class="list" id='profile' ng-hide="profile.lodingSpinner">

            <li class="item item-toggle" style='background: #232323;border-color: black !important; color: #fff;'  ng-click="profile.status(profile.displayprofile.profile_status, 'Hey ! I am using ChatApp')">
                 <span  ng-if="profile.displayprofile.profile_status">{{profile.displayprofile.profile_status}}</span>
                <span  ng-if="!profile.displayprofile.profile_status">Hey ! I am using ChatApp</span> <label class="toggle toggle-assertive profileOption">
      <i class="icon ion-edit OutlineIcon" style="font-size: 18px; color:#fff;"></i>
     </label>

                
               

            </li>
            <li class="item item-toggle">
                PRIVATE ROOMS
                <label class="toggle toggle-assertive profileOption">
       {{profile.displayprofile.user_private_rooms}}
     </label>
            </li>
            <li class="item item-toggle">
                PUBLIC ROOMS
                <label class="toggle toggle-assertive profileOption">
      {{profile.displayprofile.user_public_rooms}}
     </label>
            </li>
            <li class="item item-toggle" ng-if="profile.displayprofile.gender">
                GENDER
                <label class="toggle toggle-assertive profileOption">
      {{profile.displayprofile.gender}}
     </label>
            </li>
            <li class="item item-toggle" ng-if="profile.displayprofile.user_blocked_users > 0">
                BLOCKED USERS
                <label class="toggle toggle-assertive profileOption">
      {{profile.displayprofile.user_blocked_users}}
     </label>
            </li>
            <li class="item item-toggle" ng-if="profile.displayprofile.dob">
                DOB
                <label class="toggle toggle-assertive profileOption">
      {{profile.displayprofile.dob}}
     </label>
            </li>
        </ul>
        <div class="list" id="chats" ng-hide="profile.lodingSpinner">
            <div class="user-container" ng-repeat="blockUser in profile.blockedUser">
                <a class="item item-avatar hover infoModel-button">
                    <img class="avatar" ng-src="{{blockUser.profile_image}}">
                    <i class="fa fa-circle user-status {{blockUser.status == 'online' && 'online' || '' }}{{blockUser.status == 'away' && 'away' || '' }}{{blockUser.status == 'offline' && 'offline' || '' }}"></i>
                    <h3>{{blockUser.name}} <span class="fa fa-spin fa-spinner" ng-show="profile.clickOnUser == $index"></span></h3>
                    <h3 class="lastSeen">{{blockUser.last_seen}}</h3>
                    <p class="pull-right unblock-icon" ng-click="profile.unblockUser(blockUser, $index)"><i class="ion-android-unlock"></i></p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>