<ion-view view-title="PROFILE">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-more-vertical pull-right white" ng-click="profile.openPopover($event)"></button>
    </ion-nav-buttons>
    <ion-content id="profile" class="has-header has-footer" ng-click="stopLoading()">
        <div style="width:100%;">
            <div class="loadingModal" ng-click="stopLoading()" ng-if="startLoading">
                <ion-spinner class="icnModal" icon="android"></ion-spinner>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 no-pad-left-right">
                <div class="panel panel-card">

                    <div class="r-t pos-rlt" md-ink-ripple style="background:url({{profile.displayprofile.profile_image}})  center; background-size:cover;background-repeat: no-repeat;color: #3F51B5;">
                        <div class="p-lg bg-white-overlay text-center r-t">
                            <a href class="w-xs inline myim" ng-if="profile.displayprofile.profile_image">
                                <img id="profileImage" src="{{profile.displayprofile.profile_image}}" class="img-circle profile-pic">
                            </a>
                            <a href class="w-xs inline myim" ng-if="!profile.displayprofile.profile_image">
                                <img id="profileImage" src="img/user.png" class="img-circle profile-pic">
                            </a>
                            <div class="camerach" ng-click="profile.editProfilePic()">change image<span class="mycam_icon ion-ios-camera"></span></div>
                            <div class="m-b m-t-sm h2">
                                <span class="">{{profile.displayprofile.name}}</span>
                            </div>
                            <!--<a class="btn btn-md btn-success m-b p-h no-border" ng-click="profile.editProfilePic()">Edit</a>-->
                            <div class="m-b m-t-sm h4" ng-click="profile.status(profile.displayprofile.profile_status, 'Hey ! I am using ChatApp')">
                                <span class="" ng-if="profile.displayprofile.profile_status">{{profile.displayprofile.profile_status}}</span>
                                <span class="" ng-if="!profile.displayprofile.profile_status">Hey ! I am using ChatApp</span>
                                <span class="status_edit"><span class="satusedit ion-android-create"></span></span>
                            </div>

                        </div>
                        <!--                        <div class="">
                                                    <div class="m-b m-t-sm h5 pull-right">
                                                        <span class="">last seen</span>:<span class="">{{profile.last_seen}}</span>
                                                    </div>
                                                </div>-->
                    </div>
                </div>

            </div>
            <div class="list">
                <div class="item item-icon-right" >
                    <span>My Private Rooms</span><span class="pull-right">{{profile.displayprofile.user_private_rooms}}</span>
                    <!--<i class="icon ion-chevron-right"></i>-->
                </div>
                <div class="item item-icon-right">
                    <span>My Public Rooms</span><span class="pull-right">{{profile.displayprofile.user_public_rooms}}</span>
                    <!--<i class="icon ion-chevron-right"></i>-->
                </div>
            </div>

        </div>
    </ion-content>

</ion-view>
