<ion-side-menus enable-menu-with-back-views="false" style="background-color: #BDBDBD;">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-more-vertical" ng-click="menu.popover.show($event)">
        </button>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>
<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content scroll="false">
      <div class="list">
        <a class="item" href="#/app/resetpassword"  ng-click="menu.popover.hide($event)">
              RESET PASSWORD
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>