<ion-view view-title="Groups" id="background" hide-back-button="true">
    <ion-content>
        <div class="list" id="chats">
            <div class="user-container" ng-click="publicChats.clickOnRoom(publicChat)" ng-repeat="publicChat in publicChats.displayPublicChat | orderBy:'-registration_time'">
                <a class="item item-avatar hover">
                    <img class="avatar" ng-src="{{publicChat.room_image}}">
                    <h3>{{publicChat.room_name}}</h3>
                </a>
            </div>
        </div>
        <div class="md-list-item-left circle green add-public-chat" ng-click="modal.show()">
            <i class="ion-plus-round i-24"></i>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <div class="tabs tabs-icon-top" id="background">
            <a class="tab-item" href="#/app/chats">
                <i class="icon ion-chatbubble tabs-icon-color"></i> Chats
            </a>
            <a class="tab-item active" href="#/app/publicChats">
                <i class="icon ion-person-stalker tabs-icon-color"></i> Groups
            </a>
            <a class="tab-item" href="#/app/contacts">
                <i class="icon ion-person tabs-icon-color"></i> Search
            </a>
            <a class="tab-item" href="#/app/setting">
                <i class="icon ion-android-settings tabs-icon-color"></i> Settings
            </a>
        </div>
    </ion-fotter-bar>
</ion-view>
<script id="modal.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Create a group</h1>
          <div class="button btn-xs button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <content has-header="true" padding="true">
            <div class="p-lg panel md-whiteframe-z1 text-color group-box">
              <form>
                <div class="md-form-group float-label">
                  <input type="text" class="md-input" ng-model="publicChats.groupName" autocomplete="off" required>
                  <label>Name</label>
                </div>
                <div class="md-form-group float-label">
                  <input type="text" class="md-input" ng-model="publicChats.groupDescription" autocomplete="off" required>
                  <label>Description</label>
                </div>
                <button ng-click="publicChats.createGroup()" class="md-btn md-raised pink btn-block p-h-md">Create</button>
              </form>
            </div>
        </content>
    </div>
</script>