<ion-view view-title="Rooms" id="background" hide-back-button="true">
    <ion-content class="has-footer">
    <div class="spin" ng-show="publicChats.lodingSpinner"><ion-spinner icon="spiral" class="spinner-positive"></ion-spinner></div>
        <ion-list >
            <ion-item ng-show="!publicChats.displayPublicChat.length > 0" class="noItem" >
                <div class="empty" ng-hide="publicChats.lodingSpinner">
                    <div class='nothing'>'No rooms found!'</div>
                        <div ng-click="modal.show()" class='empty_div'>
                            <button class="empty_btn button ion-plus" ></button>
                        </div>
                    <div class="now">Add a room</div>
                </div>
            </ion-item>
        </ion-list>
        <div class="list" id="chats">
            <div class="user-container" ng-click="publicChats.clickOnRoom(publicChat, $index)" ng-repeat="publicChat in publicChats.displayPublicChat">
                <a class="item item-avatar hover">
                    <img class="avatar" ng-src="{{publicChat.room_image}}">
                    <h3>{{publicChat.show_details_for_list.main_text}} <span class="fa fa-spin fa-spinner" ng-show="publicChats.clickRoomSpinner == $index"></span></h3>
                    <p class="lastSeen">{{publicChat.show_details_for_list.sub_text}}</p>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="md-list-item-left circle green add-public-chat" ng-click="modal.show()">
        <i class="ion-plus-round i-24"></i>
    </div>
</ion-view>
<script id="modal.html" type="text/ng-template">
    <div class="modal">
    <header class="bar bar-header bar-positive">
    <h1 class="title">Create a room</h1>
    <div class="button btn-xs button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </header>
    <ion-content class="has-header has-footer" padding="true">
    <div class="p-lg panel md-whiteframe-z1 text-color group-box">
    <form>
    <div class="md-form-group float-label">
    <input type="text" class="md-input" ng-model="publicChats.userGroupName" autocomplete="off" required>
    <label>Name</label>
    </div>
    <div class="md-form-group float-label">
    <input type="text" class="md-input" ng-model="publicChats.userGroupDescription" autocomplete="off" required>
    <label>Description</label>
    </div>
    <button ng-disabled="publicChats.createGroupOption" ng-click="publicChats.createGroup()" class="md-btn md-raised pink btn-block p-h-md">Create</button>
    </form>
    </div>
    </ion-content>
    </div>
</script>

<script id="groupDetails.html" type="text/ng-template">
    <div class="modal">
    <header class="bar bar-header bar-positive">
    <h1 class="title">{{publicChats.groupNameShort}}</h1>
    <div class="button btn-xs button-clear" ng-click="groupModel.hide()"><span class="icon ion-close"></span></div>
    </header>
    <ion-content class="has-header has-footer" padding="true">
    <div style="width:100%;" >
    <div class="col-md-12 col-sm-12 col-xs-12 no-pad-left-right">
    <div class="panel panel-card">
    <div class="r-t pos-rlt my_profile_bug" md-ink-ripple style="background:url({{publicChats.groupImage}}) center center; background-size:cover">
    <div class="bg-white-overlay r-t">
    <div class="text-center"> 
    <a href class="w-xs inline marginTop">
    <img id="profileImage" ng-src="{{publicChats.groupImage}}" class="img-circle profile-pic">
    </a>
    </div>
    
    <div class="m-b m-t-sm text-center">
    <h4 class="">{{publicChats.groupName}}</h4>
    <p class="">{{publicChats.groupDescription}}</p>
    <p class="lastSeen">{{publicChats.groupCreatedOn}}</p>
    </div>
    <div class="text-center">
    <a class="btn btn-md btn-success m-b p-h no-border" ng-click="publicChats.joinRoom()">Join Room <span class="fa fa-spin fa-spinner" ng-show="publicChats.joinRoomSpinner"></span></a>
    </div>
    <div class="m-b m-t-sm h4">
    <div class="list" id="chats">
    <div class="user-container" ng-repeat="groupUser in publicChats.groupUserList | orderBy:'-last_seen'">
    <a class="item item-avatar hover">
    <img class="avatar " ng-src="{{groupUser.profile_image}}">
    <i class="fa fa-circle user-status {{groupUser.status == 'online' && 'online' || '' }}{{groupUser.status == 'away' && 'away' || '' }}{{groupUser.status == 'offline' && 'offline' || '' }}"></i>
    <h3>{{groupUser.name}}</h3>
    <h3 class="lastSeen">{{groupUser.last_seen}}</h3>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </ion-content>
    </div>
</script>