<ion-view view-title="Chats" id="background" hide-back-button="true" >
    <ion-content class="has-footer">
        <div class="list" id="chats">
            <h4 ng-hide="chats.displayChats.length > 0" class="text-center">'No Chats Yet!'</h4>
            <div class="user-container" ng-repeat="chat in chats.displayChats | orderBy: '-unreadMessageTimeStamp'">
                <a class="item item-avatar hover" ng-click="chats.roomClick(chat)">
                    <img class="avatar" ng-src="{{chat.user_data.profile_image}}">
                    <i class="fa fa-circle user-status"></i>
                    <h3>{{chat.user_data.name}}</h3>
                    <span class="badge blue-badge" ng-if="chat.unreadMessage > 0">{{chat.unreadMessage}}</span>
                    <span class="time lastSeen">{{chat.user_data.last_seen}}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>