<ion-view view-title="Login">
  <ion-content scroll="false" id="background">
     <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand text-center">
        <span class="inline white">CHATT</span>
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm">
        Verify your CHATT Account
      </div>
      <form name="form">
        <div class="md-form-group float-label">
          <p>Email: {{verification.data.email}}</p>
        </div>
        <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="verification.data.verificationCode" required>
          <label>Code</label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md" ng-click="verification.verify()">Submit</button>
      </form>
    </div>
    <div class="text-center">
      <button class="md-btn white" ng-click="verification.resendVerification()">Resend Verification Code</button>
    </div>
    </div>
  </div>
  </ion-content>
</ion-view>