<ion-content class="has-footer">
<ion-refresher pulling-text="Pull to refresh" on-refresh="chatPageCenter.doRefresh()">
    </ion-refresher>
        <div class="list chat-page-list">
            <div class="item {{(msg.user_id == chatPageCenter.user_id && msg.message_type != 'room_alert_message') && 'right-chat' || 'left-chat' }} {{msg.message_type == 'room_alert_message' && 'alert-message' || '' }}" ng-repeat="msg in chatPageCenter.displayChatMessages | orderBy:'timeStamp'">
                <img class="avatar" ng-src="{{msg.image}}">
                <div class="{{msg.user_id == chatPageCenter.user_id && 'bubble-blue' || 'bubble-yellow' }}">
                    <p>{{msg.message}}</p>
                    <p class="chat-time"><span>{{msg.messageTime}}</span> <i class="{{msg.message_status == 'sent' && 'sent' || '' }}{{msg.message_status == 'post' && 'post' || '' }}{{msg.message_status == 'seen' && 'seen' || '' }}{{msg.user_id == chatPageCenter.user_id && ' fa fa-circle' || ' ' }}"></i></p>
                </div>
            </div>
        </div>
        </ion-content>