<!-- <ion-footer-bar class='bar bar-stable' keyboard-attach>
        <input type='text' id="chatinput" class='form-control text-box' ng-model="chatPageFooter.message" on-return="chatPageFooter.sendMessage();" on-focus="chatPageFooter.inputUp()" on-blur="chatPageFooter.inputDown()" is-focused="{{isFocused}}" ng-change="chatPageFooter.writingMessage()" />
        <button class='button button-positive send-msg' ng-click='chatPageFooter.sendMessage()'>
                <i class='icon ion-paper-airplane'></i>
        </button>
</ion-fotter-bar> -->

<ion-footer-bar class='bar bar-stable' keyboard-attach>
    <div emoji-form emoji-message="emojiMessage" style="min-width: 80%;">
        <textarea id="messageInput"  ng-model="emojiMessage.messagetext"  ng-change="chatPageFooter.writingMessage()"></textarea>
      <!--   <button id="emojibtn">
            <i class="icon ion-android-happy" style="color: blue;"></i>
        </button> -->
        <button class='button button-positive send-msg' ng-click='chatPageFooter.sendMessage()'>
            <i class='icon ion-paper-airplane'></i>
        </button>
    </div>
</ion-footer-bar>