<ion-footer-bar class='bar bar-stable' keyboard-attach style="border:none;">
    <div style="width: 80%; margin-top:8px;">
        <textarea input-feild on-return="chatPageFooter.sendMessage();" on-focus="chatPageFooter.inputUp()" on-blur="chatPageFooter.inputDown()" is-focused="{{isFocused}}" id="messageInput"  ng-model="messagetext" ng-change="chatPageFooter.writingMessage()" placeholder='Your message' style="font-size: 14px; width:100%; resize: none; height:30px!important"></textarea>
        <div class='send-msg' ng-click='chatPageFooter.sendMessage()'>
            SEND
        </div>
    </div>
</ion-footer-bar>