
<div class="bar bar-header">
  <button class="button ion-ios-arrow-back GreyColor headerButtonAttach" ng-click='chatPageHeader.goBack()' ></button>
  <h1 class="title" ng-click="chatPageHeader.openInfo()">{{chatPageHeader.name}}</h1>
  <div class="button headerButton">
    <button class="button ion-android-attach  GreyColor headerButtonAttach" ng-click="chatPageHeader.openAttachFilePopover($event)"></button>
    <button class="button ion-android-more-vertical GreyColor headerButton" ng-click="chatPageHeader.openPopover($event)"  ng-if="chatPageHeader.id"></button>
      <button ng-if="!chatPageHeader.id" class="button  ion-android-more-vertical GreyColor  headerButton" ng-click="chatPageHeader.openGroupPopover($event)"></button>
  </div>
</div>
<script id="infoModel.html" type="text/ng-template">
    <h1 class="text-center infoModel-spinner"><span class="fa fa-spin fa-spinner" ng-show="chatPageHeader.openModelWithSpinner"></span></h1>
<div class="modal" ng-hide="chatPageHeader.openModelWithSpinner">
    <header class="bar bar-header bar-positive">
        <h1 class="title GreyColor">{{chatPageHeader.infoNameShort}}</h1>
        <div class="button btn-xs button-clear" ng-click="infoModel.hide()"><span class="icon ion-close GreyColor"></span></div>
    </header>
    <ion-content has-header="true" padding="true">
                <img id="profileImage" ng-src="{{chatPageHeader.infoImage}}" class="img-circle profile-pic" style="margin-top: 40px;" ng-click="chatPageHeader.is_room_owner == 1 && chatPageHeader.editProfilePic()">
                 <div class="text-center paddingBottom">
                                <a class="btn btn-md btn-danger m-b p-h no-border" ng-if="chatPageHeader.is_room_owner == 1" ng-click="chatPageHeader.deleteRoom()">Delete Room <span class="fa fa-spin fa-spinner" ng-show="chatPageHeader.deleteGroupSpinner"></span></a>
                                <a class="btn btn-md btn-danger m-b p-h no-border" ng-if="chatPageHeader.is_room_owner == 0" ng-click="chatPageHeader.leaveGroup()">Leave Room <span class="fa fa-spin fa-spinner" ng-show="chatPageHeader.leaveGroupSpinner"></span></a>
                            </div>

        <ul class="list" id='profile' ng-hide="profile.lodingSpinner">
             <li class="item item-toggle">
               NOTIFICATION
    
                <label class="toggle toggle-assertive profileOption">
     <input type="checkbox" ng-model="chatPageHeader.muteNotifications" ng-change="chatPageHeader.mute()">
            <div class="track">
              <div class="handle"></div>
            </div>  
     </label>
            </li>
            <li class="item item-toggle">
               CREATED ON
                <label class="toggle toggle-assertive profileOption">
      {{chatPageHeader.infoCreatedOn}}
     </label>
            </li>
            <li class="item item-toggle">
                DESCRIPTION 
                <br/>
               {{chatPageHeader.infoDescription}}
            </li>
            <li class="item item-toggle">
                MEMBERS
            </li>
        </ul>
        <div class="list" id="chats">
                        <div class="user-container" ng-repeat="infoUser in chatPageHeader.infoUserList| orderBy:'-last_seen'">
                            <a class="item item-avatar hover infoModel-button">
                                <img class="avatar" ng-src="{{infoUser.profile_image}}" ng-click="chatPageHeader.infoUserClick(infoUser)">
                                <i class="fa fa-circle user-status {{infoUser.status == 'online' && 'online' || '' }}{{infoUser.status == 'away' && 'away' || '' }}{{infoUser.status == 'offline' && 'offline' || '' }}"></i>
                                <h3 ng-click="chatPageHeader.infoUserClick(infoUser)">{{infoUser.name}}</h3>
                                <h3 class="lastSeen" ng-click="chatPageHeader.infoUserClick(infoUser)">{{infoUser.last_seen}}</h3>
                                <p class="pull-right trash-icon" ng-if="chatPageHeader.is_room_owner == 1" ng-hide="infoUser.owner" ng-click="chatPageHeader.deleteUserFromGroup(infoUser, $index)" ng-class="{'delete-icon-rotate': $index == chatPageHeader.deleteIconRotate}"><i class="fa fa-trash"></i></p>
                            </a>
                        </div>
                    </div>

    </ion-content>
</div>
</script>
<script id="infoModelUser.html" type="text/ng-template">
   <div class="modal">
        <header class="bar bar-header bar-positive">
          <h1 class="title GreyColor">{{chatPageHeader.displayUserProfileName}}</h1>
          <div class="button btn-xs button-clear" ng-click="infoModelUser.hide()"><span class="icon ion-close GreyColor"></span></div>
        </header>
       <ion-content class="has-header has-footer">
                <img id="profileImage" ng-src="{{chatPageHeader.displayUserProfileImage}}" class="img-circle profile-pic" >
        <ul class="list" id='profile' ng-hide="profile.lodingSpinner">
            <li class="item item-toggle">
                LAST SEEN
                <label class="toggle toggle-assertive profileOption">
      {{chatPageHeader.displayUserProfileLastSeen}}
     </label>
            </li>
            <li class="item item-toggle">
                PRIVATE ROOMS
                <label class="toggle toggle-assertive profileOption">
      {{chatPageHeader.displayUserProfilePrivateRooms}}
     </label>
            </li>
            <li class="item item-toggle">
                PUBLIC ROOMS
                <label class="toggle toggle-assertive profileOption">
      {{chatPageHeader.displayUserProfilePublicRooms}}
     </label>
            </li>
            <li class="item item-toggle" ng-if="chatPageHeader.displayUserProfileGender">
                GENDER
                <label class="toggle toggle-assertive profileOption">
      {{chatPageHeader.displayUserProfileGender}}
     </label>
            </li>
           
            <li class="item item-toggle" ng-if="chatPageHeader.displayUserProfileDOB">
                DOB
                <label class="toggle toggle-assertive profileOption">
     {{chatPageHeader.displayUserProfileDOB}}
     </label>
            </li>
            <li class="item item-toggle" style="white-space: normal;" >
                STATUS 

                <br/>
               <span ng-if="chatPageHeader.displayUserProfileStatus">{{chatPageHeader.displayUserProfileStatus}}</span>
                <span ng-if="!chatPageHeader.displayUserProfileStatus">Hey ! I am using ChatApp</span>

            </li>

        </ul>
</ion-content>
    </div>                
</script>