/* Empty. Add your own CSS if you like */
.error{
	color: red;
}
.submitted .ng-invalid{
        border: 1px solid red;
    }
        .m-b {
    margin-bottom: 0px;
}
.md-form-group {
    position: relative;
    padding: 18px 0 19px 0;
}
.navbar{
  margin-bottom: 0px;
}