/* Empty. Add your own CSS if you like */
/*.BottomButtons{
  bottom: 10px;
}
.btn-facebook {
    background-color: #3B5998;
    font-size: 16px;
}*/
.roundButton{
  width: 214px !important;
  margin: 0 auto;
  border-radius: 35px;
}
.font14{
    font-size: 14px;
}
.bar.bar-stable .title{
    color: rgb(103, 99, 99);
}
.loading-container .loading{
    background-color: inherit !important;
}
.AbsoluteCenterTop{
   position: absolute;
   top: 12%;
   text-align: center;
   width: 100%;
}
.BlueFont{
    color: blue;
}
.AbsoluteCenterBottom{
   position: absolute;
   bottom: 10%;
   text-align: center;
   width: 100%;
}
.AppName{
    font-size: 3.5rem;
    font-weight: bold;
    color:rgb(58, 87, 149);
}
.m-t-20{
    margin-top: 20px !important;
}
.emoji-wysiwyg-editor{
    font-size: 18px !important;
    color: rgb(103, 99, 99) !important;
    text-shadow:none !important;
}

.error{
    color: red;
}
.submitted .ng-invalid{
    border: 1px solid red;
}
.m-b {
    margin-bottom: 0px;
}
.md-form-group {
    position: relative;
    padding: 18px 0 19px 0;
}
#BlueBar{
    border:none !important;
}
.navbar{
    margin-bottom: 0px;
}
.mycam_icon{
    font-size: 20px;
    padding: 13px 0 0 8px;
}
.prpicim {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
}
#cropedim{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.loadingModal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
}
.icnModal{
    position: absolute;
    top: 50%;
    left: 50%;
}
span.satusedit.ion-android-create {
    padding: 0 0 0 8px;
}

.mypanel{
    margin-bottom:0px !important
}
.myimage{
    height:280px;
}
.myprbt{
    margin-right:20px;

}

.modal-backdrop.active{
    z-index: 9;    
}
.marginTop{
    margin-top:10px;
}
.paddingBottom{
    padding: 0 0 10px 0;
}
img.img-circle.mycl {
    width: 35px;
    height: 35px;
}
@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx){
    .tabs {
        background-image:none !important;   
    }
}

.version.ng-binding {
    text-align: center;
    font-size: 17px;
}
.popover{
    border:none !important;
    border-radius: 0px !important;
}
/*ion-popover-view.profile_popover.popover.none.ng-enter.active.ng-enter-active {
    margin-left: 0px;
    opacity: 1;
    height: auto !important;
    width: auto !important;
}*/
.item.right-chat {
    background: transparent;
}
.item.left-chat {
    background: transparent;
}
.item.left-chat.alert-message {
    background-color: transparent !important;
}
.myContent{
    background-color:transparent !important;
}
.myImg{
    width: 100%;
    padding: 40px 0 0 0;
}
.sendImage{
    width: 117px;
    height: 137px;
}
.icon-color{
    color:#fff;
}
/*    background-color: #fff;
    border: 10px #1F1E1E;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.20)!important;*/
@media (min-width: 450px) {
    .my_profile_bug{
        height:350px !important;
    }
    .my_bg_backdrop{
        height:352px !important;
    }
}
@media (min-width: 550px) {
    .my_profile_bug{
        height:380px !important;
    }
    .my_bg_backdrop{
        height:382px !important;
    }
}