<ion-view view-title="Login">
    <ion-content scroll="false" id="background" class="login">
            <div class="AbsoluteCenterTop AppName">
                 <span class="inline white">CHAT APP</span>
            </div>
            <div class="AbsoluteCenterBottom">
                 <button class="button button-block button-positive roundButton font14 google-btn"  ng-click="login.googleRegister()">
                   CONNECT WITH</span> <i class="fa fa-google"></i>
                </button>
                <button class="button button-block button-positive roundButton m-t-15 font14 facebook-btn" ng-click="login.facebookRegister()">
                   CONNECT WITH</span>  <i class="fa fa-facebook"></i>
                </button>
            </div>
             
    </ion-content>
</ion-view>