<ion-view view-title="Login">
    <ion-content scroll="false" id="MainPage" class="login">
            <div class="AbsoluteCenterTop AppName">
                <p><img src="lib/logo.png" style="max-width:100px;"></p>
                 <span class="inline" style="color:#000;">CHATT!</span>
            </div>
            <div class="AbsoluteCenterBottom">
                 <button class="button button-block button-positive roundButton font14 google-btn"  ng-click="login.googleRegister()">
                   CONNECT WITH</span> <i class="fa fa-google"></i>
                </button>
                <button class="button button-block button-positive roundButton m-t-20 font14 facebook-btn" ng-click="login.facebookRegister()">
                   CONNECT WITH</span>  <i class="fa fa-facebook"></i>
                </button>
                <a class="m-t-20 font14" ng-click="login.guestLogin()">
                   GUEST LOGIN</i>
                </a>
            </div> 
    </ion-content>
</ion-view>