<ion-view view-title="RESET PASWORD" id="background">
  <ion-content scroll="false">
     <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="p-lg panel md-whiteframe-z1 text-color m">
    <div class="m-b text-sm">
        Reset Password
      </div>
      <form name="form">
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="resetpassword.password" required>
          <label>Password</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="resetpassword.cpassword" required>
          <label>Confirm Password</label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md" ng-click="resetpassword.resetPassword()">Submit</button>
      </form>
    </div>
    </div>
  </div>
  </ion-content>
</ion-view>